* {
  text-decoration: none !important; /* disable link highlights */
  cursor: default !important; /* disable cursor on text */
  user-select: none !important; /* disable text selection */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

main {
  flex: 1;
}

.Footer-wrapper {
  margin-top: auto;
}
